

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

body{
	    background-color: #fbfbfb;
		font-family: 'Open Sans', sans-serif;
		
}
.btn-success{
	background-color: #e67e22;
	border-color: #e67e22;
}
.btn-success:hover{
	background-color: #e67e22;
	border-color: #e67e22;
}
.content-wrapper{
	background:url('../img/happy_footer.png');
	background-repeat: repeat-x;
	background-attachment: fixed;
    background-position: 300px 442px; 
    
}
.rides{
	margin-top: 7%;
}
.content-wrapper{
	min-height: 600px;
}
.main-sidebar{
	min-height: 600px;
}
.skin-green-light .main-header .logo {
background-color: #5f6160;
}
.skin-green-light .main-header .logo:hover {
background-color: #5BC5A7;
}
.skin-green-light .main-header .navbar {
background-color: #5BC5A7;
}
.skin-green-light .main-header .navbar .sidebar-toggle:hover{
	background-color: #5BC5A7;
}
.logo-lg{
	font-family: 'Grand Hotel', cursive;
	color: #e67e22;
	font-size: 30px;
}
.login-panel{
	padding: 10%;
}
.login-icon{
	margin-top: 20%;
	width: 200px;
	margin-bottom: 3px;
}
.logo{
	width: 250px;    
    mask-image: url(../img/logo.svg);
}
.title-text{
	font-size: 77px;
	font-family: 'Grand Hotel', cursive;
	color: #e67e22;
	margin-left: 15%;
}



.signin{
	width: 350px;
	font-family: 'Open Sans', sans-serif;
	
}
.sub{
	position: relative;
	top: 13px;
	left: -52px;
	font-size: 12px;
}
.sub a{
	color: #fff;
	text-decoration: underline;
	font-weight: 300;
}
.signin label{
	font-weight: 300;
	font-size: 24px;
}
.signin .title{
	color: #fff;
    background: #5BC5A7;
    padding: 15px 25px 15px 30px;
    height: 70px;
}

.signup-group {
	height: 230px;
	background:#F4F5F7;
}
.signup-group .content{
	padding-left: 30px;
	padding-right: 30px;
	padding-top: 10px;
	padding-bottom: 10px;

}

.signup-group .form-control{
	border-radius: 0px;
	height: 40px;
	margin-bottom: 10px;
	border:  0px solid #ccc;
}
.signup-group a{
	color:#A4A4A2;
	font-size: 14px;
	margin-bottom: 5px;

}
.signup-group a:hover{
	text-decoration: none;
}
.input-group > .input-group-addon{
	height: 
}
.sign-group {
	height: 200px;
	background:#F4F5F7;
}
.sign-group .content{
	padding-left: 30px;
	padding-right: 30px;
	padding-top: 10px;
	padding-bottom: 10px;

}

.sign-group .form-control{
	border-radius: 0px;
	height: 40px;
	margin-bottom: 10px;
	border:  0px solid #ccc;
}
.sign-group a{
	color:#A4A4A2;
	font-size: 14px;
	margin-bottom: 5px;

}
.sign-group a:hover{
	text-decoration: none;
}
.btn-login{
	background: #5BC5A7;
	color: #fff;
	font-size: 18px;
	font-weight: 300;
	transition: opacity .5s ease-in-out;
}
.btn-login:hover{
	opacity: .8;
	
}
.social-login{
	height: 80px;
	background: #EDEDEE;
}
.s-icons{
	
	padding-left: 45px;
    padding-top: 24px;
    border-right: 1px solid #e0e0e0;
    height: 80px;
    transition: background .3s ease-in-out;

}
.s-icons:hover{
	background: #C7CFD1;
}
.s-icons .fa{
	font-size: 30px;
	color: #BDCBCB;
}
/* enable absolute positioning */
.inner-addon {
  position: relative;
}

/* style glyph */
.inner-addon .glyphicon {
  position: absolute;
  padding: 10px;
  pointer-events: none;
}

/* align glyph */
.left-addon .glyphicon  { left:  0px;color: #adadad;}
.right-addon .glyphicon { right: 0px;}

/* add padding  */
.left-addon input  { padding-left:  30px; }
.right-addon input { padding-right: 30px; }











